body{
    background-color: #ccc;
    padding: 50px;
    color: white;
    text-align:center;
    height: auto;
}

#container{background-color: rgba(219, 219, 230, 0.932);color:black; border: 1px solid red; max-width: 600px; width: 100%; margin: 0px auto}
.heading{background-color: rgb(148, 144, 138); width: 100%; max-width: 500px;margin: 0px auto; margin-top: 10px; border-radius: 10px}
.btns{margin-bottom: 10px;margin-right: 2px}